<form action="<%= submitPath %>?_csrf=<%= locals.csrfToken %>" method="post" enctype="multipart/form-data"> 
  <!-- multipart coz of image upload, added csrf token by this method coz we can't add that in multipart encoded type -->
    <p>
        <label for="title">Title</label>
        <input type="text" id="title" name="title" value="<%=product.title%>" required>
    </p>
    <div id="image-upload-control">
        <p>
            <label for="image">Image</label>
            <input type="file" id="image" name="image" accept="image/png, image/jpg, image/webp" <% if (imageRequired) { %>required<% } %>>
        </p>
        <img src="" alt="selected image">
    </div>
    
    <p>
        <label for="summary">Summary</label>
        <input type="text" id="summary" name="summary"  value="<%=product.summary%>" maxlength="250" required >
    </p>
    <p>
        <label for="price">Price</label>
        <input type="number" id="price" name="price"  min="10" step="10"  value="<%=product.price%>"  required>
    </p>
    <p>
        <label for="description">Description</label>
        <textarea name="description" id="description"  rows="7" required><%=product.description%></textarea>
    </p>
    <p>
        <button type="reset" class="btn btn-alt">Reset</button>
        <button class="btn">Save</button>
    </p>
</form>